.home {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 85vh;
  background: linear-gradient(90deg, #1e1e1e, #4e4032, #1e1e1e);
  color: white;
  text-align: center;
  padding: 20px;
}


.home h1 {
  font-size: 2.5rem;
  font-family: 'Roboto', sans-serif;
  margin-bottom: 15px;
  color: #ff6f61;
  letter-spacing: 1px;
}

.home p {
  font-size: 1.2rem;
  color: #d1d1d1;
  margin-bottom: 20px;
}

.home-buttons {
  display: flex;
  gap: 15px;
}

.home-buttons .button {
  padding: 10px 20px;
  font-size: 1rem;
  font-family: 'Roboto', sans-serif;
  border: none;
  border-radius: 5px;
  color: white;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.3s ease;
}

.home-buttons .button:hover {
  transform: translateY(-2px);
}

.button-green {
  background-color: #ff6f61;
}

.button-green:hover {
  background-color: #ff6f61;
}

.button-blue {
  background-color: #e0b68e;
}

.button-blue:hover {
  background-color: #91694a;
}
